rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isSpecificAdminEmail() {
      return isSignedIn() && request.auth.token.email == 'praveenkumarpatnala@gmail.com';
    }
    function isAdmin() {
      return isSpecificAdminEmail() || exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /app_configuration/appConfig {
      allow get: if true;
      allow list: if isAdmin();
      allow create: if isSpecificAdminEmail();
      allow update: if isAdmin();
    }

    match /wishes/{wishId} {
      allow get: if isAdmin() || resource.data.isApproved == true;
      allow list: if isAdmin() || resource.data.isApproved == true;
      allow create: if request.resource.data.isApproved == false;
      allow update, delete: if isAdmin();
    }

    match /admins/{adminUid} {
      allow get: if isSignedIn() && request.auth.uid == adminUid;
      allow list: if isAdmin();
      allow create: if isSpecificAdminEmail() && request.auth.uid == adminUid;
      allow update: if isAdmin();
    }
  }
}